/********************************************************/
/* HERO SECTION & NAVIGATION */
/*******************************************************/
.hero-section {
    background: var(--bg-gradient-1);
    height: 100vh;
}

.hero__content {
    padding-top: 8.8rem; /* when remove top bar 16.4rem */
    padding-bottom: 8.4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero__content-left {
    width: 64.8rem;
    display: flex;
    flex-direction: column;

    .hero__content-caption {
        margin-bottom: 2.4rem;
        display: flex;
        align-items: center;
        column-gap: 2.4rem;

        .hero__content-caption-line {
            display: inline-block;
            width: 8.8rem;
            height: 2px;
            border-radius: var(--border-radius-rounded);
            background-color: var(--bg-primary);
        }

        .hero__content-caption-text {
            color: var(--text-primary);
            display: inline-block;
            width: 19.8rem;
        }
    }

    .hero__content-text {
        font-size: 2.4rem;
        line-height: 3.6rem;
        color: var(--text-gray-700);
        margin: 3.2rem 0;
    }

    .hero__actions {
        display: flex;
        column-gap: 1.6rem;
        align-items: center;
    }
}

.hero__content-right {
    width: 61.8rem;

    display: flex;
    align-items: center;
    justify-content: center;

    .hero__content-right-images {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    .hero__person-circle {
        width: 48.2rem;
        height: 55.6rem;
        border-radius: var(--border-radius-rounded);
        display: flex;
        justify-content: center;
        align-items: flex-end;
        overflow: hidden;
        position: relative;
        z-index: 1;

        &::before {
            content: "";
            width: 45.7rem;
            height: 45.7rem;
            border-radius: var(--border-radius-rounded);
            position: absolute;
            display: inline-block;
            z-index: -1;
            background-color: var(--bg-primary);
        }
    }

    .hero__icon-1,
    .hero__icon-2,
    .hero__icon-3,
    .hero__icon-4,
    .hero__icon-5,
    .hero__icon-6 {
        position: absolute;
    }

    .hero__icon-5,
    .hero__icon-1 {
        width: 8rem;
        height: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--bg-primary);
        border-radius: var(--border-radius-md);
    }

    .hero__icon-5 svg path,
    .hero__icon-1 svg path {
        stroke: var(--text-white);
    }

    .hero__icon-1 {
        top: 9.6rem;
        left: 0;
        box-shadow: var(--shadow-200);
    }

    .hero__icon-2 {
        width: 5.2rem;
        height: 5.2rem;
        top: 9.4rem;
        right: 2.2rem;
        background-color: var(--bg-primary);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--border-radius-md);
        box-shadow: var(--shadow-100);
    }

    .hero__icon-2 svg path {
        stroke: var(--text-white);
    }

    .hero__icon-5 svg {
        width: 4.8rem;
        height: 4.8rem;
    }

    .hero__icon-4 svg,
    .hero__icon-3 svg {
        width: 4.8rem;
        height: 4.8rem;
        box-shadow: var(--shadow-100);
    }

    .hero__icon-4 svg path,
    .hero__icon-3 svg path {
        stroke: var(--bg-primary);
    }

    .hero__icon-3 {
        left: 2.5rem;
        top: 28rem;
    }

    .hero__icon-4 {
        right: 2.5rem;
        top: 28rem;
    }

    .hero__icon-5 {
        bottom: 9.6rem;
        right: 0;
        box-shadow: var(--shadow-300);
    }

    .hero__icon-6 {
        bottom: -10%;
        left: 10%;
    }

    .hero__caption-card {
        position: absolute;
        font-family: inherit;
        font-size: 2rem;
        line-height: 3rem;
        padding: 2.4rem;
        border-radius: var(--border-radius-md);
        color: var(--text-primary);
        background-color: var(--bg-white);
        box-shadow: var(--shadow-100);
        left: 0;
        bottom: 9rem;
        z-index: 1;
    }
}

/********************************************************/
/* Clients */
/*******************************************************/

.clients-section-wraper {
    padding: 8.4rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4.2rem;

    .clients__title {
        color: var(--text-gray-600);
    }

    .clients__logos {
        display: flex;
        flex-wrap: wrap;
        column-gap: 7.2rem;
    }

    .clients__logos-1,
    .clients__logos-2,
    .clients__logos-3,
    .clients__logos-4,
    .clients__logos-5,
    .clients__logos-6,
    .clients__logos-7,
    .clients__logos-8,
    .clients__logos-9 {
        height: 4.2rem;
    }
}

@media (max-width: 80.9375em) {
    .hero-section {
        height: auto;
    }

    .hero__content-left {
        /* 5% down the size */
        width: 61.56rem;

        .hero__content-text {
            font-size: 2.3rem;
            line-height: 3.5rem;
        }
    }

    .hero__content-right {
        /* 5% down the size */
        width: 58.71rem;

        .hero__person-circle {
            /* 5% down the size */
            width: 45.79rem;
            height: 52.82rem;

            .hero__person-img {
                height: 100%;
            }

            &::before {
                width: 43.415rem;
                height: 43.415rem;
            }
        }
    }
}

@media (max-width: 75em) {
    .hero-section {
        height: auto;
    }

    .hero__content-left {
        /* 10% downn the size */
        width: 52.32rem;
    }

    .hero__content-right {
        /* 10% downn the size */
        width: 55.62rem;

        .hero__content-right-images {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
        }

        .hero__person-circle {
            /* 10% downn the size */
            width: 48.2rem;
            height: 55.6rem;

            .hero__person-img {
                height: 100%;
            }

            &::before {
                width: 41.13rem;
                height: 41.13rem;
            }
        }

        .hero__icon-5,
        .hero__icon-1 {
            /* 10% downn the size */
            width: 7.2rem;
            height: 7.2rem;
        }

        .hero__icon-1 svg,
        .hero__icon-5 svg,
        .hero__icon-4 svg,
        .hero__icon-3 svg {
            /* 10% downn the size */
            width: 4.32rem;
            height: 4.32rem;
        }
    }

    .clients-section-wraper {
        padding: 7.56rem 0;
        row-gap: 3.78rem;

        .clients__logos {
            display: flex;
            flex-wrap: wrap;
            column-gap: 6.48rem;
        }

        .clients__logos-1 svg,
        .clients__logos-2 svg,
        .clients__logos-3 svg,
        .clients__logos-4 svg,
        .clients__logos-5 svg,
        .clients__logos-6 svg,
        .clients__logos-7 svg,
        .clients__logos-8 svg,
        .clients__logos-9 svg {
            height: 3.78rem;
        }
    }
}

@media (max-width: 62em) {
    /* Medium devices (small laptops) 992px*/

    .hero__content {
        padding-top: 5.28rem;
        flex-direction: column-reverse;
        gap: 5rem;
    }

    .hero__content-left {
        align-items: center;
        text-align: center;
    }

    .hero__heading {
        text-align: center;
    }
    .hero__content-caption {
        justify-content: center;
    }

    .hero__content-text {
        font-size: 2.3rem;
        line-height: 3.5rem;
    }

    .hero__content-right {
        /* 5% down the size */
        width: 58.71rem;

        .hero__person-circle {
            width: 36.632rem; /* 80% of 45.79rem */
            height: 42.256rem; /* 80% of 52.82rem */

            .hero__person-img {
                height: 100%;
            }

            &::before {
                width: 34.732rem; /* 80% of 43.415rem */
                height: 34.732rem; /* 80% of 43.415rem */
            }
        }

        .hero__icon-6 {
            bottom: -4%;
            left: 0%;
        }

        .hero__icon-1 {
            top: 4.6rem;
        }

        .hero__icon-2 {
            top: 7.4rem;
            right: 4.2rem;
        }

        .hero__icon-3 {
            left: 4.5rem;
            top: 16rem;
        }

        .hero__icon-4 {
            right: 6.5rem;
            top: 17rem;
        }

        .hero__icon-5 {
            bottom: 3.6rem;
            right: 0px;
            box-shadow: var(--shadow-300);
        }

        .hero__caption-card {
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            padding: 2rem;

            h3 {
                font-size: 1.8rem;
            }
            p {
                font-size: 1.8rem;
            }
        }
    }

    .clients-section-wraper {
        .clients__logos {
            gap: auto;
            row-gap: 3rem;
            justify-content: center;
            align-items: center;
        }

        .clients__logos-1 svg,
        .clients__logos-2 svg,
        .clients__logos-3 svg,
        .clients__logos-4 svg,
        .clients__logos-5 svg,
        .clients__logos-6 svg,
        .clients__logos-7 svg,
        .clients__logos-8 svg,
        .clients__logos-9 svg {
            height: 3.78rem;
        }
    }
}

@media (max-width: 48em) {
    /* Small devices (tablets) 768px*/
}

@media (max-width: 30em) {
    /* Extra small devices (phones) 480px*/
}
