/********************************************************/
/* Skills Section*/
/*******************************************************/
.skills-section {
    padding: 8.4rem 0;
}

.skills__wrapper {
    text-align: center;
}

.skills__tag {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
    text-transform: capitalize;
    color: var(--text-gray-500);
    background: var(--bg-success-100);
    padding: 1rem 2rem;
    border-radius: 3.2rem;

    display: inline-block;
    margin-bottom: 1.6rem;
}

.skills__heading {
    color: var(--text-gray-600);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 6.4rem;
    margin-bottom: 1.2rem;
}

.skills__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    column-gap: 5.8rem;
    row-gap: 4.8rem;
    align-items: center;
    justify-items: center;
}

.skills__list-link {
    font-family: inherit;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.8rem;
    color: var(--text-gray-600);

    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    align-items: center;
}

.skills__list-link svg {
    width: 6.4rem;
    height: 6.4rem;
    animation: grayscaleToColor 2s linear infinite;
}
