/********************************************************/
/* Stats Section*/
/*******************************************************/
.stats-section {
    padding: 8.4rem 0;
}

.stats__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.stat {
    width: 31.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat:not(:last-of-type) {
    border-right: 1px solid var(--border-gray-100);
}

.stat__icon {
    width: 2.4rem;
    height: 2.4rem;
    margin-bottom: 2.4rem;
}

.stat__value {
    font-family: inherit;
    font-weight: 600;
    font-size: 4rem;
    line-height: 4.8rem;
    color: var(--text-primary-800);
    text-align: center;
}

.stat__label {
    font-family: Inter;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    text-align: center;
    color: var(--text-gray-500);
}

@media (max-width: 75em) {
    /* Large devices (desktops smaller than 1200px) */
    /* 10% down */
    .stats__wrapper {
        gap: 2rem;
        justify-content: center;
    }

    .stat {
        width: 28.08rem;
    }

    .stat.stat-3 {
        border-right: none;
    }
}
