*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    --navy-blue-50: #fafcff;
    --navy-blue-100: #c7e1ff;
    --navy-blue-200: #94c6ff;
    --navy-blue-300: #61abff;
    --navy-blue-400: #3690f7;
    --navy-blue-500: #1777e5;
    --navy-blue-600: #1b5ca7;
    --navy-blue-700: #1b4474;
    --navy-blue-800: #162c46;
    --navy-blue-900: #0c141d;
    --navy-blue-950: #000000;

    --yellow-50: #fffefa;
    --yellow-100: #fffbe5;
    --yellow-200: #fff7d1;
    --yellow-300: #ffea80;
    --yellow-400: #ffe14d;
    --yellow-500: #ffd91a;
    --yellow-600: #dab80b;
    --yellow-700: #a18912;
    --yellow-800: #6c5e13;
    --yellow-900: #3d360f;
    --yellow-950: #131106;

    --gray-50: #fff;
    --gray-100: #f1f5f8;
    --gray-200: #e1e8ef;
    --gray-300: #d2dbe5;
    --gray-400: #c4ced9;
    --gray-500: #b7c1cc;
    --gray-600: #a2a8ae;
    --gray-700: #5c5c5c;
    --gray-800: #757575;
    --gray-900: #5c5c5c;
    --gray-950: #424242;

    --forest-green-50: #eaf7ed;
    --forest-green-100: #d5f0db;
    --forest-green-200: #abe0b7;
    --forest-green-300: #81d192;
    --forest-green-400: #57c16e;
    --forest-green-500: #2db24a;
    --forest-green-600: #248e3b;
    --forest-green-700: #1b6b2c;
    --forest-green-800: #12471e;
    --forest-green-900: #09240f;

    --light-orange-50: #fff4ed;
    --light-orange-100: #ffeadb;
    --light-orange-200: #ffd4b8;
    --light-orange-300: #ffbf94;
    --light-orange-400: #ffa971;
    --light-orange-500: #ff944d;
    --light-orange-600: #cc763e;
    --light-orange-700: #99592e;
    --light-orange-800: #663b1f;
    --light-orange-900: #331e0f;

    --sunset-orange-50: #ffefef;
    --sunset-orange-100: #ffdede;
    --sunset-orange-200: #ffbebe;
    --sunset-orange-300: #ff9d9d;
    --sunset-orange-400: #ff7d7d;
    --sunset-orange-500: #ff5c5c;
    --sunset-orange-600: #cc4a4a;
    --sunset-orange-700: #993737;
    --sunset-orange-800: #662525;
    --sunset-orange-900: #331212;

    --black: #000;
    --white: #fff;

    --gradient-1: linear-gradient(
        180deg,
        rgba(240, 241, 243, 0.6) 0%,
        rgba(243, 236, 255, 0.6) 100%
    );

    /* Background */
    --bg-primary: var(--navy-blue-500);
    --bg-primary-100: var(--navy-blue-100);
    --bg-primary-600: var(--navy-blue-600);
    --bg-primary-900: var(--navy-blue-900);
    --bg-gradient-1: var(--gradient-1);

    /* Text Color */
    --text-primary: var(--navy-blue-500);
    --text-primary-600: var(--navy-blue-600);
    --text-white: var(--white);
    --text-gray-100: var(--gray-100);
    --text-gray-400: var(--gray-400);
    --text-gray-500: var(--gray-500);
    --text-gray-600: var(--gray-600);
    --text-gray-700: var(--gray-700);
    --text-gray-900: var(--gray-950);

    /* Border Color */
    --border-primary: var(--navy-blue-500);
    --border-primary-600: var(--navy-blue-600);

    /* Border Radius */
    --border-radius-xs: 4px;
    --border-radius-rounded: 100%;

    /* line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    */
}

html {
    /* This defines what 1rem is
    1rem = 10px; 10px/16px = 62.5% */
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    line-height: 1;
    font-weight: 400;
    font-size: 1.6rem;
}

/* Container styles */
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5rems;
    box-sizing: border-box;
}

a:link,
a:visited {
    text-decoration: none;
}

ul {
    list-style: none;
}
