/* Global Reset */
@import url("global.css");

/* BreakPoints */
@import url("queries.css");

/* Utilities CSS */
@import url("utilities.css");

/********************************************************/
/* HEADER SECTION & NAVIGATION */
/*******************************************************/

.header-section {
    position: relative;
    z-index: 1;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3rem 0;
}
.nav__brand {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    flex: 1;
}
.nav__brand-img {
    height: 4.8rem;
}

.nav__brand--text {
    color: var(--text-gray-900);
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

.nav-list__link:link,
.nav-list__link:visited {
    color: var(--text-gray-500);
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-list__link:link:active,
.nav-list__link:visited:active,
.nav-list__link:link:hover,
.nav-list__link:visited:hover {
    color: var(--text-gray-900);
    font-weight: 700;
}
.nav-list__link.active {
    color: var(--text-gray-900);
    font-weight: 700;
}

.nav__action,
.nav__action:link,
.nav__action:visited {
    margin-left: 3.2rem;
}

/********************************************************/
/* HERO SECTION & NAVIGATION */
/*******************************************************/
.hero-section {
    background: var(--bg-gradient-1);
    height: 100vh;
}

.hero__content {
    padding-top: 8.8rem; /* when remove top bar 16.4rem */
    padding-bottom: 8.4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero__content-left {
    width: 64.8rem;
    display: flex;
    flex-direction: column;

    .hero__content-caption {
        margin-bottom: 2.4rem;
        display: flex;
        align-items: center;
        column-gap: 2.4rem;

        .hero__content-caption-line {
            display: inline-block;
            width: 8.8rem;
            height: 2px;
            border-radius: var(--border-radius-rounded);
            background-color: var(--bg-primary);
        }

        .hero__content-caption-text {
            color: var(--text-primary);
            display: inline-block;
            width: 19.8rem;
        }
    }

    .hero__content-text {
        font-size: 2.4rem;
        line-height: 3.6rem;
        color: var(--text-gray-700);
        margin: 3.2rem 0;
    }

    .hero__actions {
        display: flex;
        column-gap: 1.6rem;
        align-items: center;
    }
}

.hero__content-right {
    width: 61.8rem;

    display: flex;
    align-items: center;
    justify-content: center;

    .hero__content-right-images {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    .hero__person-circle {
        width: 508px;
        height: 592px;
        border-radius: var(--border-radius-rounded);
        display: flex;
        justify-content: center;
        align-items: flex-end;
        overflow: hidden;
        position: relative;
        z-index: 1;

        .hero__person-img {
        }

        &::before {
            content: "";
            width: 457px;
            height: 457px;
            border-radius: var(--border-radius-rounded);
            position: absolute;
            display: inline-block;
            z-index: -1;
            background-color: var(--bg-primary);
        }
    }

    .hero__icon-1,
    .hero__icon-2,
    .hero__icon-3,
    .hero__icon-4,
    .hero__icon-5,
    .hero__icon-6 {
        position: absolute;
    }

    .hero__icon-5,
    .hero__icon-1 {
        width: 8rem;
        height: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--bg-primary);
        border-radius: var(--border-radius-md);
    }

    .hero__icon-5 svg path,
    .hero__icon-1 svg path {
        stroke: var(--text-white);
    }

    .hero__icon-1 {
        top: 9.6rem;
        left: 0;
        box-shadow: var(--shadow-200);
    }

    .hero__icon-2 {
        width: 5.2rem;
        height: 5.2rem;
        top: 9.4rem;
        right: 2.2rem;
        background-color: var(--bg-primary);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--border-radius-md);
        box-shadow: var(--shadow-100);
    }

    .hero__icon-2 svg path {
        stroke: var(--text-white);
    }

    .hero__icon-5 svg {
        width: 4.8rem;
        height: 4.8rem;
    }

    .hero__icon-4 svg,
    .hero__icon-3 svg {
        width: 4.8rem;
        height: 4.8rem;
        box-shadow: var(--shadow-100);
    }

    .hero__icon-4 svg path,
    .hero__icon-3 svg path {
        stroke: var(--bg-primary);
    }

    .hero__icon-3 {
        left: 2.5rem;
        top: 28rem;
    }

    .hero__icon-4 {
        right: 2.5rem;
        top: 28rem;
    }

    .hero__icon-5 {
        bottom: 9.6rem;
        right: 0;
        box-shadow: var(--shadow-300);
    }

    .hero__icon-6 {
        bottom: -10%;
        left: 10%;
    }

    .hero__caption-card {
        position: absolute;
        font-family: inherit;
        font-size: 2rem;
        line-height: 3rem;
        padding: 2.4rem;
        border-radius: var(--border-radius-md);
        color: var(--text-primary);
        background-color: var(--bg-white);
        box-shadow: var(--shadow-100);
        left: 0;
        bottom: 9rem;
        z-index: 1;
    }
}

/********************************************************/
/* Clients */
/*******************************************************/

.clients-section-wraper {
    padding: 8.4rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4.2rem;

    .clients__title {
        color: var(--text-gray-600);
    }

    .clients__logos {
        display: flex;
        flex-wrap: wrap;
        column-gap: 7.2rem;
    }

    .clients__logos-1,
    .clients__logos-2,
    .clients__logos-3,
    .clients__logos-4,
    .clients__logos-5,
    .clients__logos-6,
    .clients__logos-7,
    .clients__logos-8,
    .clients__logos-9 {
        height: 4.2rem;
    }
}

/********************************************************/
/* About US */
/*******************************************************/
.about-us-section {
    padding: 16.4rem 0;
    background: var(--bg-gradient-1);
}

.about-us-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-us__left {
    width: 58rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    .about-us__social-caption {
        font-size: 1.8rem;
        line-height: 2.6rem;
        font-weight: 500;
        color: var(--text-gray-900);
    }

    .about-us__social-icon {
        display: flex;
        align-items: center;
        column-gap: 0.8rem;
    }

    .about-us__social {
        display: flex;
        align-items: center;
        gap: 1.6rem;
    }

    .about-us__social-icon-github,
    .about-us__social-icon-instagram,
    .about-us__social-icon-linkedin,
    .about-us__social-icon-dribble,
    .about-us__social-icon-x {
        width: 4.8rem;
        height: 4.8rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--text-gray-600);
        border-radius: var(--border-radius-rounded);
        transition: all 0.3s ease;

        &:hover {
            background-color: var(--bg-primary-100);
        }
    }

    .about-us__social-icon-github svg,
    .about-us__social-icon-instagram svg,
    .about-us__social-icon-linkedin svg,
    .about-us__social-icon-dribble svg,
    .about-us__social-icon-x svg {
        fill: var(--bg-primary-600);
    }

    .about-us__social-icon-github svg:hover,
    .about-us__social-icon-instagram svg:hover,
    .about-us__social-icon-linkedin svg:hover,
    .about-us__social-icon-dribble svg:hover,
    .about-us__social-icon-x svg:hover {
        fill: var(--bg-primary-900);
    }
}

.about-us__right {
    width: 64.4rem;
    display: flex;
    flex-direction: column;
    row-gap: 3.2rem;

    .about-us__desc {
        font-size: 2rem;
        line-height: 3.2rem;
        font-weight: 400;
        color: var(--text-gray-700);
    }
}
.about-us__actions {
    display: flex;
    align-items: center;
    column-gap: 2.4rem;
}

/********************************************************/
/* About US -- Details*/
/*******************************************************/

.about-us-details-wraper {
    padding-top: 8.6rem;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.about-us__content {
    width: 42.4rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 4.2rem;
}

.about-us__heading {
    font-family: inherit;
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 600;

    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.about-us__date {
    font-family: inherit;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;

    display: flex;
    align-items: center;
    gap: 0.6rem;

    span {
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 1.2rem;
    }

    span::before {
        content: "";
        position: absolute;
        left: 0;
        width: 5px;
        height: 5px;
        background-color: black;
        border-radius: var(--border-radius-rounded);
    }
}

.about-us__heading-edu {
    color: var(--text-primary);
}

.about-us__heading-icon svg {
    width: 4.4rem;
    height: 4.4rem;
}

.about-us__heading-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 6.4rem;
    height: 6.4rem;
    border-radius: var(--border-radius-rounded);
}

.about-us__edu-icon {
    background-color: var(--bg-primary-100);
    svg {
        stroke: var(--text-primary-600);
    }
}

.about-us__act-int {
    width: 30rem;
}

.about-us__interest-item span:nth-child(1) svg,
.about-us__activity-item span:nth-child(1) svg {
    width: 3.2rem;
    height: 3.2rem;
}
