/* Global Reset */
@import url("global.css");

/* BreakPoints */
@import url("queries.css");

/* Utilities CSS */
@import url("utilities.css");

/********************************************************/
/* HEADER SECTION & NAVIGATION */
/*******************************************************/

.header {
    position: relative;
    z-index: 1;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3rem 0;
}
.nav__brand {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    flex: 1;
}
.nav__brand-img {
    height: 4.8rem;
}

.nav__brand--text {
    color: var(--text-gray-900);
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

.nav-list__link:link,
.nav-list__link:visited {
    color: var(--text-gray-500);
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-list__link:link:active,
.nav-list__link:visited:active,
.nav-list__link:link:hover,
.nav-list__link:visited:hover {
    color: var(--text-gray-900);
    font-weight: 700;
}
.nav-list__link.active {
    color: var(--text-gray-900);
    font-weight: 700;
}

.nav__action,
.nav__action:link,
.nav__action:visited {
    margin-left: 3.2rem;
}

/********************************************************/
/* HERO SECTION & NAVIGATION */
/*******************************************************/
.hero {
    background: var(--bg-gradient-1);
}

.hero__content {
    padding-top: 8.8rem; /* when remove top bar 16.4rem */
    padding-bottom: 8.4rem;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__content-left {
    width: 64.8rem;
    display: flex;
    flex-direction: column;

    .hero__content-caption {
        margin-bottom: 2.4rem;
        display: flex;
        align-items: center;
        column-gap: 2.4rem;

        .hero__content-caption-line {
            display: inline-block;
            width: 8.8rem;
            height: 2px;
            border-radius: var(--border-radius-rounded);
            background-color: var(--bg-primary);
        }

        .hero__content-caption-text {
            color: var(--text-primary);
            display: inline-block;
            width: 19.8rem;
        }
    }

    .hero__content-text {
        font-size: 2.4rem;
        line-height: 3.6rem;
        color: var(--text-gray-700);
        margin: 3.2rem 0;
    }

    .hero__actions {
        display: flex;
        column-gap: 1.6rem;
        align-items: center;
    }
}

.hero__content-right {
    width: 61.8rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
