/* Global Reset */
@import url("global.css");

/* BreakPoints */
@import url("queries.css");

/* Utilities CSS */
@import url("utilities.css");

/********************************************************/
/* HEADER SECTION & NAVIGATION */
/*******************************************************/

.header {
    position: relative;
    z-index: 1;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3rem 0;
}
.nav__brand {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    flex: 1;
}
.nav__brand-img {
    height: 4.8rem;
}

.nav__brand--text {
    color: var(--text-gray-900);
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

.nav-list__link:link,
.nav-list__link:visited {
    color: var(--text-gray-500);
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-list__link:link:active,
.nav-list__link:visited:active,
.nav-list__link:link:hover,
.nav-list__link:visited:hover {
    color: var(--text-gray-900);
    font-weight: 700;
}
.nav-list__link.active {
    color: var(--text-gray-900);
    font-weight: 700;
}

.nav__action,
.nav__action:link,
.nav__action:visited {
    margin-left: 3.2rem;
}

/********************************************************/
/* HERO SECTION & NAVIGATION */
/*******************************************************/
.hero {
    background: var(--bg-gradient-1);
}

.hero__content {
    padding-top: 8.8rem; /* when remove top bar 16.4rem */
    padding-bottom: 8.4rem;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero__content-left {
    width: 64.8rem;
    display: flex;
    flex-direction: column;

    .hero__content-caption {
        margin-bottom: 2.4rem;
        display: flex;
        align-items: center;
        column-gap: 2.4rem;

        .hero__content-caption-line {
            display: inline-block;
            width: 8.8rem;
            height: 2px;
            border-radius: var(--border-radius-rounded);
            background-color: var(--bg-primary);
        }

        .hero__content-caption-text {
            color: var(--text-primary);
            display: inline-block;
            width: 19.8rem;
        }
    }

    .hero__content-text {
        font-size: 2.4rem;
        line-height: 3.6rem;
        color: var(--text-gray-700);
        margin: 3.2rem 0;
    }

    .hero__actions {
        display: flex;
        column-gap: 1.6rem;
        align-items: center;
    }
}

.hero__content-right {
    width: 61.8rem;

    display: flex;
    align-items: center;
    justify-content: center;

    .hero__content-right-images {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    .hero__person-circle {
        width: 508px;
        height: 592px;
        border-radius: var(--border-radius-rounded);
        display: flex;
        justify-content: center;
        align-items: flex-end;
        overflow: hidden;
        position: relative;
        z-index: 1;

        .hero__person-img {
        }

        &::before {
            content: "";
            width: 457px;
            height: 457px;
            border-radius: var(--border-radius-rounded);
            position: absolute;
            display: inline-block;
            z-index: -1;
            background-color: var(--bg-primary);
        }
    }

    .hero__icon-1,
    .hero__icon-2,
    .hero__icon-3,
    .hero__icon-4,
    .hero__icon-5,
    .hero__icon-6 {
        position: absolute;
    }

    .hero__icon-5,
    .hero__icon-1 {
        width: 8rem;
        height: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--bg-primary);
        border-radius: var(--border-radius-md);

        &svg {
            width: 2.4rem;
            height: 2.4rem;
        }
    }

    .hero__icon-1 {
        top: 9.6rem;
        left: 0;
        box-shadow: var(--shadow-200);
    }

    .hero__icon-2 {
        width: 5.2rem;
        height: 5.2rem;
        top: 9.4rem;
        right: 2.2rem;
        background-color: var(--bg-primary);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--border-radius-md);
        box-shadow: var(--shadow-100);

        &svg {
            width: 2.4rem;
            height: 2.4rem;
        }
    }

    .hero__icon-4,
    .hero__icon-3 {
        width: 2.4rem;
        height: 2.4rem;
        background-color: var(--bg-primary-600);
        border-radius: var(--border-radius-rounded);
    }

    .hero__icon-3 {
        left: 2.5rem;
        top: 28rem;
    }

    .hero__icon-4 {
        right: 2.5rem;
        top: 28rem;
    }

    .hero__icon-5 {
        bottom: 9.6rem;
        right: 0;

        box-shadow: var(--shadow-300);
    }

    .hero__icon-6 {
        bottom: -10%;
        left: 10%;
    }

    .hero__caption-card {
        position: absolute;
        font-family: inherit;
        font-size: 2rem;
        line-height: 3rem;
        padding: 2.4rem;
        border-radius: var(--border-radius-md);
        color: var(--text-primary);
        background-color: var(--bg-white);
        box-shadow: var(--shadow-100);
        left: 0;
        bottom: 9rem;
        z-index: 1;
    }
}
