/* Typography Class  */
.display-1,
.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5 {
    font-family: inherit;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
}

.display-1 {
    font-size: 8rem;
    line-height: 8rem;
}

.heading-1 {
    font-size: 4.8rem;
    line-height: 5.6rem;
}
.heading-2 {
    font-size: 4rem;
    line-height: 4.8rem;
}

.heading-3 {
    font-size: 3.2rem;
    line-height: 4rem;
}

.heading-4 {
    font-size: 2.4rem;
    line-height: 3.2rem;
}

.heading-5 {
    font-size: 1.8rem;
    line-height: 6.4rem;
}

.caption-1,
.caption-2,
.caption-3,
.caption-4,
.caption-5,
.caption-6 {
    font-family: inherit;
    font-style: normal;
    text-transform: capitalize;
}

.caption-1 {
    font-size: 2rem;
    line-height: 3.2rem;
    font-weight: 600;
}
.caption-2 {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.8rem;
}
.caption-3 {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.4rem;
}
.caption-4 {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 600;
}
.caption-5 {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.6rem;
}

.caption-6 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2rem;
}

.body-xxl-400,
.body-xxl-500,
.body-xl-400,
.body-xl-500,
.body-lg-400,
.body-lg-400,
.body-md-500,
.body-sm-400,
.body-sm-500,
.body-xs-400,
.body-xs-500 {
    font-family: inherit;
    font-style: normal;
}

.body-xxl-400 {
    font-size: 2.4rem;
    line-height: 3.6rem;
    font-weight: 400;
}
.body-xxl-500 {
    font-size: 2.4rem;
    line-height: 3.6rem;
    font-weight: 500;
}
.body-xl-400 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.2rem;
}
.body-xl-500 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 3.2rem;
}
.body-lg-400 {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.6rem;
}
.body-lg-500 {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.6rem;
}
.body-md-400 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
}
.body-md-500 {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
}
.body-sm-400 {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
}
.body-sm-500 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
}
.body-xs-400 {
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 400;
}
.body-xs-500 {
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 500;
}

/* BUTTON */
.p-btn-light-md,
.p-btn-md,
.p-btn-outline-md,
.p-btn-outline-lg,
.p-btn-lg {
    line-height: 1;
    font-style: normal;
    display: inline-block;
    border-radius: var(--border-radius-xs);
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

.p-btn-lg,
.p-btn-lg:link,
.p-btn-lg:visited {
    font-size: 2.2;
    padding: 1.7rem 3.4rem;
    background-color: var(--bg-primary);
    color: var(--text-gray-100);
}

.p-btn-light-md,
.p-btn-light-md:link,
.p-btn-light-md:visited {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 1.35rem 2.7rem;
    background-color: var(--bg-primary-100);
    color: var(--text-gray-900);
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:active,
    &:link:hover,
    &:visited:hover {
        background-color: var(--bg-primary-900);
        color: var(--text-white);
        .p-btn-light-md-icon path {
            stroke: white;
        }
    }

    .p-btn-light-md-icon {
        width: 2.4rem;
        height: 2.4rem;
    }
}

.p-btn-light-lg,
.p-btn-light-lg:link,
.p-btn-light-lg:visited {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 2.1rem 4.2rem;
    background-color: var(--bg-primary-100);
    color: var(--text-gray-900);
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:active,
    &:link:hover,
    &:visited:hover {
        background-color: var(--bg-primary-900);
        color: var(--text-white);
        .p-btn-light-md-icon path {
            stroke: white;
        }
    }

    .p-btn-light-md-icon {
        width: 2.4rem;
        height: 2.4rem;
    }
}

.p-btn-md,
.p-btn-md:link,
.p-btn-md:visited {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 1.65rem 3.3rem;
    background-color: var(--bg-primary);
    color: var(--text-gray-100);
}

.p-btn-md:active,
.p-btn-md:link:hover,
.p-btn-md:visited:hover,
.p-btn-lg:active,
.p-btn-lg:link:hover,
.p-btn-lg:visited:hover {
    background-color: var(--bg-primary-600);
    color: var(--text-white);
}

.p-btn-outline-md:link,
.p-btn-outline-md:visited {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 1.65rem 3.3rem;
    border: 2px solid var(--border-primary);
    color: var(--text-primary);
}

.p-btn-outline-lg:link,
.p-btn-outline-lg:visited {
    padding: 2.5rem 3.2rem;
    border: 2px solid var(--border-primary);
    color: var(--text-primary);
}

.p-btn-outline-md:active,
.p-btn-outline-md:link:hover,
.p-btn-outline-md:visited:hover,
.p-btn-outline-lg:active,
.p-btn-outline-lg:link:hover,
.p-btn-outline-lg:visited:hover {
    font-weight: 600;
    border: 2px solid var(--border-primary);
    color: var(--text-white);
}

.p-btn-outline-md::before,
.p-btn-outline-lg::before {
    content: "";
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%) scale(0);
    z-index: -1;
    background-color: var(--bg-primary);
    transition: all 0.3s ease;
}

.p-btn-outline-md:hover::before,
.p-btn-outline-lg:hover::before {
    transform: translateX(-50%) scale(5);
}

/* Flex */
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.flex-justify-center {
    display: flex;
    justify-content: center;
}
